# Compiler files
cache/
out/

# JavaScript dependencies and build output
node_modules/
frontend/dist/
subgraph/build/
subgraph/generated/

# Commonly ignored directories
.logs/
.ignore/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env
.env.*
!.env.example
